

/* Alert */

.alert {
  .btn {
    margin-top: 10px;
  }
}
.alert-success {
    background-color: rgba(95, 190, 170, 0.3);
    border-color: rgba(95, 190, 170, 0.4);
    color: #5fbeaa;
}
.alert-info {
    background-color: rgba(52, 211, 235, 0.2);
    border-color: rgba(52, 211, 235, 0.3);
    color: $info;
}
.alert-warning {
    background-color: rgba(255, 189, 74, 0.2);
    border-color: rgba(255, 189, 74, 0.3);
    color: $warning;
}
.alert-danger {
    background-color: rgba(240, 80, 80, 0.2);
    border-color: rgba(240, 80, 80, 0.3);
    color: $danger;
}